body
  :background #ddd
  :font-family Helvetica, Arial, sans-serif
  :color #999

  h1
    :font-size 22px
    :color #6e6e6e
    a
      :color #6e6e6e
      :text-decoration none
  h2
    :margin 0
    :font-size 34px
    :margin-top 70px
    :font-weight normal
    :letter-spacing -2px
  
  h3
    :font-size 18px
    
#page
  :width 800px
  :margin-left 68px
  #header
      
  #content
    #admin
      :padding 0
      :margin 0
    #item
      p
        :line-height 120%
    textarea
      :width 100%
      :height 450px
    a.missing
      :color red
      
  #footer
    :margin-top 70px
    :font-size 10px
